windowTitle=Affective Storyteller
dimWidth=800
dimHeight=500
textWidth=450
textHeight=500
colorPanelName=colors
textPanelName=xml
emofiltConfig=emofiltConfig.ini
playButton=play
stopButton=stop
saveButton=save
saveAsButton=save as
saveAudioButton=save audio
loadButton=load
playSingleButton=play single
testButton=test 1
test2Button=test 2
exitButton=exit
closeButton=exit
emotionNumBreak=5
toolboxButton=open toolbox
tbb_removeTags=remove tags
tbb_deleteAll=delete all
tbb_undo=undo
